@charset "UTF-8";

/* mobile view */
@media only screen and (max-width: 40em) {

    .logo {
        text-align: center;
        margin: 10px auto;
    }

    ul.social-menu {
        margin: 10px auto;
        justify-content: center;
    }

    ul.social-menu li img {
        height: 20px;
    }

    .confirm-svg img {
        height: 90px;
    }

    .picText p{
        margin-bottom: 40px;
    }

}

/* tablet view */
@media only screen and (min-width: 40.063em) {

    .picText p{
        margin-bottom: 40px;
    }
    
}